*{
    font-family: 'poppins';
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.navbar{
    background-color: #F27F0C;
}

.navbar-brand{
    color: #fff;
}
.nav-link{
    color: #fff;
    font-size: 12px;
    margin-left: 15px;
}

.gambarSekolah{
    background-size: cover;
    background-attachment: fixed;


}

.fullscreen-image {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
